{# templates/feedback/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/feedback.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="form-feedback">
        {{ form_start(form) }}
            <div class="field-wrap">
                {{ form_errors(form.fullName) }}
                {{ form_widget(form.fullName) }}
            </div>
            <div class="field-wrap">
                {{ form_errors(form.address) }}
                {{ form_widget(form.address) }}
            </div>
            <div class="field-wrap">
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
            <div class="field-wrap">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <button type="submit">Отправить</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
